/* Dave Jagodowski - HW06 - Giphy project */

#container {
	min-width: 600px;
	min-height: 640px;
	margin: 20px;
}
#addFishDiv {
	float: right;
	width: 20%;
	font-size: 16px;
	font-weight: bold;
	font-family: "arial", "helvetica", "sans-serif";
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;

}

#fishButtons {
	
	padding: 50px;
}


#addFish {
	background-color: #009CFF;
	color: white;
	padding: 4px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 12px;
	margin: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#buttonsView {
	float: left;
	/*clear: both; */
	width: 65%;
    margin-left: 10px;
    margin-top: 20px;
}
#gifView { 
	display: inline-block; 
	width: 85%;
    margin-left: 10px;
    margin-top: 40px;
    /*vertical-align: middle; */
 }

.fishClass {
	background-color: #6DC539;
	color: white;
	padding: 4px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 12px;
	margin: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
}

.gif {
	border: 5pt solid purple;
}